APP_NAME="Produce a Value"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://produceavalue.com

APP_LOCALE=it
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=it_IT

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.produceavalue.com
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@produceavalue.com"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=admin@produceavalue.com
ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=
